#!/bin/bash

echo -e "\033[0;32m Setup fish shell \033[0m"

brew install fish jandedobbeleer/oh-my-posh/oh-my-posh

# Set fish as default shell
if [ $SHELL != $(which fish) ]; then
  echo "Changing default shell to fish"
  chsh -s $(which fish)
fi

echo -e "\033[0;32m Setup fish shell done \033[0m"
