[user]
  email = contact@christophedeveaux.com
  name = Christophe
	signingkey = {{ .gpg_key }} 

[push]
  autoSetupRemote = true
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[credential]
  helper = cache

[credential "https://github.com"]
  helper = 
  helper = {{ .gh_path }} auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = {{ .gh_path }} auth git-credential
[init]
	defaultBranch = main
[core]
	editor = code --wait
	symlinks = true
	excludesFile = /home/bibi/.gitignore
[http]
	postBuffer = 1048576000
	proxy = 
[commit]
	gpgSign = true
[gpg]
	program = {{ .gpg_path }} 
[rerere]
	enabled = true
[rebase]
	updateRefs = true
